
<div class="table-container">

  <div class="self-table">
    <div>
      <app-ship-stat (mapShipStatEvent)="mapShipStatSelf = $event" [ships]="selfShipList"></app-ship-stat>
    </div>
  </div>

  <div class="table-container-self">
    <span> Your table </span>
    <table>
      <tr *ngFor="let row of rowList">
        <td *ngFor="let col of colList"
            #self_cell
            class="board-td"
            (drop)="onDrop($event, row, col)"
            (dragover)="onDragOver($event)"
            [attr.data-x]="row"
            [attr.data-y]="col">
          <div class="boom" *ngIf="selfBoard.getCell(row, col).isBoom()"></div>
          <div class="miss" *ngIf="selfBoard.getCell(row, col).isMiss()"></div>
        </td>
      </tr>
    </table>

    <div>
      <div onKeyDown *ngFor="let ship of selfShipList; let i = index"
           #ship_self
           [id]="ship.type"
           class='ship'
           draggable="true"
           [style.width.px]="ship.length * 40"
           [style.left.px]="50"
           [style.top.px]="i*50 + 450"
           [ngClass]="{'ship-color': ship.isVisible,
           'horizontal': ship.isHorizontal, 'vertical': !ship.isHorizontal}"

           (click)="onClickShip(ship)"
           (dragstart)="onDragStart(ship)"
           (dragover)="onDragOver($event)"
           (drop)="onDropOnTopOfShip($event)">

        <div *ngFor="let _ of Array(ship.length); let j = index"
             id="{{j}}"
             class='ship-block'
             [ngClass]="{'last-ship-block': j == ship.length - 1 }"
             (mousedown)="onMouseDown(j)"></div>
      </div>
    </div>
  </div>

  <!--  =================================================== RIVAL ================================================-->

  <div class="rival-table">

    <button class="startGame" *ngIf ="selectedShip && checkAllShipsArePositioned() && disableTableInteraction"
            (click) = "startGame()" mat-flat-button color="warn">Start game</button>

    <div [ngClass]="{'overlay': disableTableInteraction}">
      <table>
        <span> Enemy table </span>
        <tr *ngFor="let row of rowList">
          <td onKeyDown *ngFor="let col of colList"
              #rival_cell
              class="board-td"
              (click)="onClickCell($event, row, col)"
              [attr.data-x]="row"
              [attr.data-y]="col">
            <div class="boom" *ngIf="rivalBoard.getCell(row, col).isBoom()"></div>
            <div class="miss" *ngIf="rivalBoard.getCell(row, col).isMiss()"></div>
          </td>
        </tr>
      </table>
    </div>

    <div *ngFor="let ship of rivalShipList; let i = index"
         #ship_rival
         [id]="ship.type"
         class='ship'
         [style.width.px]="ship.length * 40"
         [style.left.px]="50"
         [style.top.px]="i*50 + 450"
         [ngClass]="{'hide-ship': !ship.isVisible, 'ship-color': ship.isVisible,
          'horizontal': ship.isHorizontal, 'vertical': !ship.isHorizontal}">
    </div>
  </div>

  <div>
    <app-ship-stat (mapShipStatEvent)="mapShipStatRival = $event" [ships]="rivalShipList" [isRival]="true"></app-ship-stat>
  </div>
</div>
