<mat-dialog-content class = 'dialog-container'>
  <div>
    <a> - Step 0</a>
    <img ngSrc="../../../assets/images/manual1.png" alt="" width="1919" height="1079">
  </div>
  <div>
    <a> - Step 1</a>
    <img ngSrc="../../../assets/images/manual2.png" alt="" width="1919" height="1079">
  </div>
  <div>
    <a> - Step 2</a>
    <img ngSrc="../../../assets/images/manual3.png" alt="" width="1919" height="1079">
  </div>
  <div>
    <a> - Step 3</a>
    <img ngSrc="../../../assets/images/manual4.png" alt="" width="1919" height="1079">
  </div>
</mat-dialog-content>
