<mat-dialog-content>
  <br>
  <div>
    <a class="title"> - Step 0: Game rules</a>
    <a class="text">Welcome to a BattleShip Game. Here are some steps you can follow to start the game. </a>
    <img ngSrc="../../../assets/images/manual1.png" alt="" width="1919" height="1079">
  </div>
  <br><br>
  <div>
    <a class="title"> - Step 1: Positioning ships</a>
    <a class="text">
      You can position the ships within the table, ensuring they do not overlap. Once all the ships are positioned correctly, you can start the game.</a>
    <img ngSrc="../../../assets/images/manual2.png" alt="" width="1919" height="1079">
  </div>
  <br><br>
  <div>
    <a class="title"> - Step 2: Starting game</a>
    <a class="text">Once the game has started, you can click on a cell of the enemy board to launch a missile.</a>
    <img ngSrc="../../../assets/images/manual3.png" alt="" width="1919" height="1079">
  </div>
  <br><br>
  <div>
    <a class="title"> - Step 3: Processing game</a>
    <a class="text">Keep launching missiles until you sink all the ships to win the game. But be careful, if the enemy sinks all your ships first, you lose the game!</a>
    <img ngSrc="../../../assets/images/manual4.png" alt="" width="1919" height="1079">
  </div>
</mat-dialog-content>
