.mat-toolbar {
  justify-content: space-between;
  height: 6vh;
}

.center {
  justify-content: center;
}

.mat-grid-tile {
  font-size: xx-large;
}

.noLinkStyle{
  color: #000;
  text-decoration: none;
}



