<mat-toolbar>

  <button mat-button routerLink="/">
    <span>Battleship</span>
  </button>

  <div>
    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>

    <button routerLink="/profile" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Profile</span>
    </button>

    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>

    <button mat-button routerLink="/game">
      <mat-icon>sports_esports</mat-icon>
      <span>play</span>
    </button>

    <button *ngIf="isGameRouteActive() && isAuthenticated()" [matMenuTriggerFor]="game_menu" mat-button>
      <mat-icon>menu</mat-icon>
      <span>Menu</span>
    </button>

  </div>
</mat-toolbar>

<mat-menu #game_menu="matMenu">
  <button mat-menu-item (click)="saveGame()"> <mat-icon>save</mat-icon> Save game</button>
</mat-menu>


<router-outlet></router-outlet>


