
.background2 {
  background-image: url('../../assets/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 94vh;
}

.container {
  position: absolute;
  top: 15%;
  right: 8%;
  width: 500px;
  height: 60vh;
  max-height: 700px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px;
}

.welcome {
  font-size: 18px;
}
