.background {
  background-image: url('../../../assets/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 94vh;
  opacity: 0.4;
}

.table-container {
  width: 1000px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
}

table {
  position: absolute;
  top: 50px;
}
